---
import Layout from "../layouts/Default.astro";
import "../styles/page.css";
import Skills from "../components/Skills/Skills.astro";

const lastFMUrl = "https://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=blahaij&limit=1&extended=0&api_key=19782c92bcfb94a712e1e4e9ae281075&format=json"
let lastFMData = await fetch(lastFMUrl).then((res) => res.json()).then((data) => data.recenttracks.track[0]);

const profileData = {
  avatar: "https://dp.nea.moe/avatar/332897183458131969.png",
  avataralt: "profile pic",
  name: "vee",
  username: "@softmodded",
  details: [
    { icon: "location_on", text: "united states" },
    { icon: "schedule", text: "eastern standard time" },
    { icon: "person", text: "she/her"}

  ],
  socials: [
    { icon: "/assets/svg/github.svg", media: "Github", link: "https://github.com/softmodded" },
    { icon: "/assets/svg/email.png", media: "Email", link: "mailto://vee@softmodded.com" },
    { icon: "/assets/svg/discord.svg", media: "Discord", link: "https://discord.com/users/332897183458131969" },
  ],
};
---

<Layout>
  <script src="../scripts/time.js"/>
  <div>
    <div style="display: flex;justify-content: space-between;">
      <div>
        <p class="name">{profileData.name}</p>
        <p class="username">{profileData.username}</p>
      </div>  
      <div>
      <img
        src={profileData.avatar}
        alt={profileData.avataralt}
        class="profile-pic"
      />
    </div>
    </div>

    <div style="margin-bottom: 10px;">
      {
        profileData.details.map((item) => (
          <div style="display: flex; margin-top:10px;">
            <span style="font-size: 20px;" class="material-symbols-outlined">
              {item.icon}
            </span>
            <span style="margin-left: 5px; margin-top:-2px;">
              {item.text}
              {item.text === "eastern standard time" && <div id="pst-time" style={{ color: '#adadad', display: 'inline-block' }}/>}
            </span>
          </div>
        ))
      }

    {lastFMData['@attr']?.nowplaying ? 
      <div style="display: flex; margin-top:10px;">
            <span style="font-size: 20px;" class="material-symbols-outlined">
              music_note
            </span>
            <span style="margin-left: 5px; margin-top:-2px;">
              listening to <strong>{lastFMData.name}</strong> by <strong>{lastFMData.artist['#text']}</strong>
            </span>
            <div class="bumper bumper-1" style="margin-left: 10px; margin-top: 3px;"></div>
            <div class="bumper bumper-2" style="margin-top: 3px;"></div>
            <div class="bumper bumper-3" style="margin-top: 3px;"></div>
      </div>
    : 
    <div style="display: flex; margin-top:10px;">
            <span style="font-size: 20px;" class="material-symbols-outlined">
              music_note
            </span>
            <span style="margin-left: 5px; margin-top:-2px;">
              not listening to anything
            </span>
      </div>
    }
    </div>

    <div style="display: flex;flex-wrap: wrap;">
      {
        profileData.socials.map((item) => (
          <a href={item.link} target="_blank" rel="noopener noreferrer" style={{ textDecoration: 'none' }}>
            <div class="contact-pill">
              <img src={item.icon} alt={item.media} />
              <span>{item.media}</span>
            </div>
          </a>
        ))
      }
    </div>

    <h2 style="margin-bottom: 10px;">About</h2>
    <div style="margin-top: 10px;line-height: 1.6;">
      <p>Hi! I'm a US-based software engineer specializing in game and web development.</p>
    </div>
    
    <Skills/>

    <div style="margin-top: 10px;line-height: 1.6;">
      <p>
        <strong>Who am I?:</strong>
        My name is Evelyn (or Vee). I'm a self-taught software developer in high school who specializes in game development and web development. I love <bold>all</bold> web frameworks <italics>(even though Vue is the clear winner)</italics> and consider myself proficient in most of them. 
        <br/><br/>
        I currently daily drive Arch Linux. Some tools/packages I use in my setup are: <strong>eww, bspwm, sxhkd, kitty, nvim.</strong>
      </p>
    </div>

    <h2 style="margin-bottom: 10px;">Hobbies</h2>
    <div style="margin-top: 10px;line-height: 1.6;">
      <p>
        <strong>I listen to a <bold><italic>ton</italic></bold> of music: </strong>
        Music is one of the most important things in my life. Both the creation and the consumption. I bounce around genres all the time. Some of my favorites are: <bold>Grunge, Indie Alternative, Hip-Hop, and Breakcore</bold>

        <br/><br/>

        <strong>I play a lot of video games: </strong>
        Video games rock. This is a well-established fact. I play a lot of them. I tend to get bored easily with most video games, preferring to stick to the same handful, but hey. If it works, it works. Some of my favorites are: <bold>Stardew Valley, Celeste, Geometry Dash, Forza, and Deadlock</bold>

        
      <br/><br/>

      <strong>I program:</strong>
      Obviously I program. I've said so like 10 times lol. I enjoy programming a ton, both professionally and as a hobby. You can check out my projects on my <a class="underline" href="/projects">projects page.</a> Most of my projects are Roblox games or Roblox-related in some aspect. 
      </p>

    </div>

  </div>
</Layout>
