---
import Layout from "../layouts/Default.astro";
import "../styles/page.css";
import Skills from "../components/Skills/Skills.astro";

const lastFMUrl = import.meta.env.LASTFM;
let lastFMData = await fetch(lastFMUrl).then((res) => res.json()).then((data) => data.recenttracks.track[0]);

const profileData = {
  avatar: "https://dp.nea.moe/avatar/332897183458131969.png",
  avataralt: "profile pic",
  name: "vee",
  username: "@softmodded",
  details: [
    { icon: "location_on", text: "united states" },
    { icon: "schedule", text: "eastern standard time" },
  ],
  socials: [
    { icon: "/assets/svg/github.svg", media: "Github", link: "https://softmodded.com/l/github" },
    { icon: "/assets/svg/email.png", media: "Email", link: "mailto://vee@softmodded.com" },
    { icon: "/assets/svg/discord.svg", media: "Discord", link: "https://softmodded.com/l/discord" },
  ],
};

const names = ["evelyn", "vee", "softmodded", "evie"]
const randomName = names[Math.floor(Math.random() * names.length)]
---

<Layout>
  <script src="../scripts/time.js"/>
  <div>
    <div style="display: flex;justify-content: space-between;">
      <div>
        <p class="name">{randomName}</p>
        <p class="username">{profileData.username}</p>
      </div>  
      <div>
      <img
        src={profileData.avatar}
        alt={profileData.avataralt}
        class="profile-pic"
      />
    </div>
    </div>

    <div style="margin-bottom: 10px;">
      {
        profileData.details.map((item) => (
          <div style="display: flex; margin-top:10px;">
            <span style="font-size: 20px;" class="material-symbols-outlined">
              {item.icon}
            </span>
            <span style="margin-left: 5px; margin-top:-2px;">
              {item.text}
              {item.text === "eastern standard time" && <div id="pst-time" style={{ color: '#adadad', display: 'inline-block' }}/>}
            </span>
          </div>
        ))
      }

      <a href="/l/pronouns" style="display: flex; text-decoration: none; margin-top:10px; cursor:pointer;">
        <span style="font-size: 20px;" class="material-symbols-outlined">
          person
        </span>
        <span style="margin-left: 5px; margin-top:-2px;">
          she/her
        </span>
        <span style="font-size: 15px; margin-left: 5px; margin-top:0.00000000001px;" class="material-symbols-outlined">
          open_in_new
        </span>
      </a>

    {lastFMData['@attr']?.nowplaying ? 
      <div style="display: flex; margin-top:10px;">
            <span style="font-size: 20px;" class="material-symbols-outlined">
              music_note
            </span>
            <span style="margin-left: 5px; margin-top:-2px;">
              listening to <strong>{lastFMData.name}</strong> by <strong>{lastFMData.artist['#text']}</strong>
            </span>
            <div class="bumper bumper-1" style="margin-left: 10px; margin-top: 3px;"></div>
            <div class="bumper bumper-2" style="margin-top: 3px;"></div>
            <div class="bumper bumper-3" style="margin-top: 3px;"></div>
      </div>
    : 
    <div style="display: flex; margin-top:10px;">
            <span style="font-size: 20px;" class="material-symbols-outlined">
              music_note
            </span>
            <span style="margin-left: 5px; margin-top:-2px;">
              not listening to anything
            </span>
      </div>
    }
    </div>

    <div style="display: flex;flex-wrap: wrap;">
      {
        profileData.socials.map((item) => (
          <a href={item.link} target="_blank" rel="noopener noreferrer" style={{ textDecoration: 'none' }}>
            <div class="contact-pill">
              <img src={item.icon} alt={item.media} />
              <span>{item.media}</span>
            </div>
          </a>
        ))
      }
    </div>

    <h2 style="margin-bottom: 10px;">about me</h2>
    <div style="margin-top: 10px;line-height: 1.6;">
      <p>hi!!!! i'm a us-based software engineer specializing in game and web development!!</p>
    </div>
    
    <Skills/>

    <div style="margin-top: 10px;line-height: 1.6;">
      <p>
        <strong>who r u?:</strong>
        my name is evelyn. i'm a self-taught software developer in high school who specializes in game development and web development. i love <bold>all</bold> web frameworks <italics>(even though vue is the clear winner)</italics> 
        <br/><br/>
        i currently daily drive arch. some tools/packages i use in my setup are: <strong>eww, bspwm, sxhkd, kitty, nvim.</strong>
      </p>
    </div>

    <h2 style="margin-bottom: 10px;">hobbies!!!</h2>
    <div style="margin-top: 10px;line-height: 1.6;">
      <p>
        <strong>i listen to a <bold><italic>ton</italic></bold> of music!! </strong>
        music is one of the most important things in my life. both the creation and the consumption interest me a ton! i bounce around genres all the time. Some of my favorites are: <bold>grunge, indie/alternative, hip-hop, and hyperpop</bold>
        
      <br/><br/>

      <strong>i code!</strong>
      obviously i code!! i've said so like 10 times lol... i enjoy programming a ton, both professionally and as a hobby. you can check out my projects on my <a class="underline" href="/projects">projects page.</a>  
      </p>

    </div>

  </div>
</Layout>
